$color-silver: rgb(119, 119, 119);
$color-snow: rgb(204, 204, 204);
$color-mintcream: rgb(233, 233, 233);
$color-success: rgb(124, 197, 118);
$color-success-hover: #449d44;
$color-white: white;

$screen-sm-min: "(min-width: 768px)";
$screen-sm-max: "(max-width: 768px)";
$screen-md-min: "(min-width: 980px)";
$screen-md-max: "(max-width: 980px)";
