/*******************************
					Introdution
*******************************/
.introdution {
	@include image-background("block/title/background.png");
	max-width: 100%;
	background-size: cover;

	@extend %text-center;
	color: $color-white;

	padding: 5% 0 10% 0;

	animation: fade-in 0.7s ease-in;
	-webkit-animation: fade-in 0.7s ease-in;

	/*--------------
	 Title and Subtitle
	---------------*/
	&-title {
		@extend %title-style;
		font-size: 1.75em;
		white-space: pre-line;

		@media #{$screen-sm-min} {
			font-size: 4em;
		}

		@media #{$screen-md-min} {
			font-size: 3.2em;
			line-height: 1.2em;
		}
	} // title

	&-subtitle {
		@include subtitle-style;

		font-size: .9em;
		margin-top: 2.5em;
		padding-bottom: 4em;

		@media #{$screen-sm-min} {
			font-size: 1em;
		}

	} // subititle

}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1%;
	}
}

/*******************************
				Media-Queries
*******************************/
@media (min-width: 768px) {
	.introdution-btn {
		box-sizing: border-box;
        transition: box-shadow 1s, transform 1s;
		transition-delay: 1s, 0s;
	}
	.introdution-btn:hover,
	.introdution-btn:focus {
		transform: translateY(-5px);
		box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
        transition-delay: 0s, 1s;
	}
}
