/*******************************
          Latest
*******************************/
.latest {
  @include padding-height(20%);

  @media #{$screen-sm-min} {
    @include padding-height(7%);
  }

  // -------------
  //	 Content
  // --------------
  &-content {
    display: flex;
  }


  // -------------
  //	 Title & Subtitle
  // --------------
  & .title, .subtitle {
    @extend %text-center;
  }

  // -------------
  //	Description
  // --------------
  &-description {
    @media #{$screen-md-min} {
      flex: 1;
    }

    &-title {
      @extend %title-style;
    }

    &-subtitle {
      @include subtitle-style($color-silver);
      margin-top: 1em;
      &:last-child {
        padding-top: 2%;
      }
      @media #{$screen-md-min} {
        width: 40%;
        padding-bottom: 3%;
      }
    }
    &-bottom {
      @media #{$screen-md-max} {
        padding-top: 2%;
      }
    }

  }

  // -------------
  //	 Feature
  // --------------
  &-feature {
    padding-top: 10%;
    text-align: center;
    @media #{$screen-md-min} {
      padding-top: 2%;
      text-align: left;
    }
    &-item {
      @media #{$screen-md-min} {
        display: inline-block;
        margin-right: 2%;
        vertical-align: middle;
      }
    }
    &-title {
      font-size: 1em;
      font-weight: bold;
      padding-bottom: 2%;
    }
    &-description {
      @include subtitle-style($color-silver);
      font-size: 0.85em;
      @media #{$screen-md-max} {
        padding-top: 4%;
      }
    }
  }

  // -------------
  //	 Details Link
  // --------------
  &-details {
    text-transform: uppercase;
    display: block;
    @media #{$screen-md-max} {
      padding-top: 10%;
      text-align: center;
    }
  }

  // -------------
  //	 Ipad Image
  // --------------
  &-image {
    display: none;
    @media #{$screen-md-min} {
      flex: 1;
      display: block  ;
      position: absolute;
      right: 0;
    }
  }
}

// -------------
//	 Sprite Icons
// --------------
.icon {
  display: inline-block;
  background: $icons;
}

@each $i in sprite_names($icons) {
  .icon-#{$i}  {
    background-position: sprite-position($icons, $i);
    @include sprite-dimensions($icons, $i);
  }
}
