/* Values
====================== */
.latest {
  // -------------
  //	 Content
  // --------------
  &-content {
    display: flex;
  }


  // -------------
  //	 Title & Subtitle
  // --------------
  & .title, .subtitle {
    @extend %text-center;
  }

  // -------------
  //	Description
  // --------------
  &-description {
    padding-top: 2%;
    text-align: center;

    @media #{$screen-md-min} {
      flex: 1;
      padding-top: 0;
      text-align: left;
    }

    &-title {
      @extend %title-style;
    }

    &-subtitle {
      @include subtitle-style($color-silver);
      margin-top: 1em;
      &:last-child {
        padding-top: 2%;
      }
      @media #{$screen-sm-min} {
        margin-bottom: 3%;
      }
      @media #{$screen-md-min} {
        width: 40%;
      }
    }
    &-bottom {
      @media #{$screen-md-max} {
        border-top: 1px solid #ccc;
        margin: 0 auto;
        padding-top: 3%;
        text-align: center;
      }
      @media #{$screen-sm-min} {
        width: 60%;
      }
      @media #{$screen-md-max} {
        margin-top: 5%;
      }
    }

  }

  // -------------
  //	 Feature
  // --------------
  &-feature {
    padding-top: 5%;
    text-align: center;
    @media #{$screen-md-min} {
      padding-top: 2%;
      text-align: left;
    }
    &-item {
      @media #{$screen-md-min} {
        display: inline-block;
        margin-right: 2%;
        vertical-align: middle;
      }
    }
    &-title {
      font-size: 1em;
      font-weight: bold;
      @media #{$screen-md-max} {
        margin-top: 1em;
      }
      @media #{$screen-lg-min} {
        padding-bottom: .3em;
      }
    }
    &-description {
      @include subtitle-style($color-silver);
      font-size: 0.85em;
      @media #{$screen-lg-max} {
        padding-top: 2%;
      }
    }
  }

  // -------------
  //	 Details Link
  // --------------
  &-details {
    text-transform: uppercase;
    display: block;
    @media #{$screen-md-max} {
      margin-top: 5%;
      text-align: center;
    }
    @media #{$screen-md-min} {
        transition: transform 0.2s linear;
        &:hover {
            transform: translateX(5px);
      }
    }
  }

  // -------------
  //	 Ipad Image
  // --------------
  &-image {
    display: none;
    @media #{$screen-lg-min} {

      display: block  ;
      position: absolute;
      right: 0;
    }
  }
}

// -------------
//	 Sprite Icons
// --------------
.icon {
  background: $icons;
  display: inline-block;
  vertical-align: middle;
}

@each $i in sprite_names($icons) {
  .icon-#{$i}  {
    background-position: sprite-position($icons, $i);
    @include sprite-dimensions($icons, $i);
  }
}
