/*******************************
          Logos
*******************************/
.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media #{$screen-sm-min} {
        flex-direction: row;
    }
}

// -------------
//   Sprite Logos
// --------------
.logo {
  background: $logos no-repeat;

  @media #{$screen-sm-max} {
      margin-bottom: 3em;
      &:last-child {
        margin-bottom: 0;
      }
  }
  @media #{$screen-sm-min} {
    margin-left: 2em;
  }
}

@each $i in sprite_names($logos) {
  .logo-#{$i}  {
    background-position: sprite-position($logos, $i);
    @include sprite-dimensions($logos, $i);
  }
}
