/*******************************
					Service
*******************************/
.service {

	@extend %text-center;

	// -------------
	//	 Items
	// --------------
	&-item {
		@media #{$screen-md-min} {
            @include col(4);
            transition: transform 0.3s ease-in-out;
		}

		// Scale on hover
		@media #{$screen-md-min} {
			&:hover {
                background-color: #FFFAF0;
                border-radius: 5%;
                border: 3px solid black;
                padding-top: 2%;
				transform: scale(1.3);
			}
		}
		&-title {
			@extend %title-style;
            padding-top: 1em;
     		@media #{$screen-md-min} {
                padding-top: 3em;
            }
		}

		&-description {
			@include subtitle-style($color-silver);

			font-size: 1em;
			line-height: 2em;
			text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;

			@media #{$screen-md-min} {
                padding-top: 1.75em;
                font-size: .7em;
			}
		}
	} // item
}
