/* Standard
====================== */
.standard {
  @extend %text-center;
  background-color: rgb(249, 249, 249);

  &-container {
    @media #{$screen-lg-min} {
      display: flex;
    }
  }

  /* Wrapping element for .standard-item, nesting .title, .description and .icon */
  &-item {
    padding-bottom: 2em;

    /* Style a line between the icons */
    .icon {
      position: relative;
    }
    .icon::before {
      @extend %icon-line;
      left: 150%;
    }

    .icon::after {
      @extend %icon-line;
      right: 150%;
    }

    /* Clears the line for the first and the last icon */
    &:first-child .icon::after {
      display: none;
    }
    &:last-child .icon::before{
      display: none;
    }

    /* Title of the item */
    .title{
      font-size: 1em;
      padding-top: 1em;
    }

    /* Description of the item */
    &-description {
      @include subtitle-style($color-silver);
      padding: 0 10px;
      margin-top: 1em;
    }
  }

}
