/*******************************
Values
*******************************/
.values {
  @extend %text-center;
  @include padding-height(5%);
  background-color: rgb(249, 249, 249);

  &-container {
    @media #{$screen-md-min} {
      display: flex;
    }
  }
  &-item {
    padding-bottom: 2em;
    @media #{$screen-md-min} {
      flex: 1;
      .icon:after {
        display: inline-block;
        margin: 50% 0 0px 8em;
        text-align: center;
        vertical-align: middle;
        height: 3px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 220%;
      }
      &:last-child .icon:after{
        display: none;
      }
    }
    .title{
      font-size: 1em;
      padding-top: 1em;
    }
    &-description {
      @include subtitle-style($color-silver);
      margin-top: 1em;
    }
  }

}
