/*******************************
            Button
*******************************/
.btn {
    border: 0;
    border-radius: 50px;
    font-size: .75em;
    padding: 1.6em 2.9em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    transition: 0.4s;

    display: inline-block;
    vertical-align: middle;
}
/*--------------
  Success
---------------*/
.btn-success {
    color: $color-white;
    background-color: $color-success;

    &:hover {
        background-color: $color-success-hover;
        transform: translateY(-1px);
    }
}
