/*******************************
		    Header
*******************************/
.header {
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;

	@media #{$screen-sm-min} {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	@media #{$screen-md-min} {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

/*--------------
     Title
---------------*/
.header-title {
	color: rgb(85, 85, 85);
	font-size: 1.2em;
	font-weight: bold;

	display: inline;
	vertical-align: middle;

	&:before {
		content: '';
		background: url("/dist/img/block/header/leaf.png") no-repeat;
		width: 29px;
		height: 29px;

		display:inline-block;
		vertical-align: middle;
	}
}
