.btn {
    font-size: .75em;
    padding: 1.6em 2.9em;
    border: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.4s;
}

.btn-success {
    color: rgb(255, 255, 255);
    background-color: rgb(124, 197, 118);
}

.btn-success:hover {
    background-color: #449d44;
    transform: translateY(-1px);
}
