
@mixin image-background($url) {
  background: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
	),url($url) no-repeat;
}

@mixin subtitle-style($color: $color-snow) {
    color: $color;
    @extend %subtitle-font-family;
}

@mixin padding-height($size: 20px) {
  padding: $size 10%;
}
