
%title-style {
  text-transform: uppercase;
	font-weight: bold;
}

%inline-block {
  display: inline-block;
}

%text-center {
  text-align: center;
}

%subtitle-font-family {
  font-family: 'Roboto Slab', serif;
}
