
%title-style {
  text-transform: uppercase;
  font-weight: bold;
}

%inline-block {
  display: inline-block;
}

%text-center {
  text-align: center;
}

%subtitle-font-family {
  font-family: 'Roboto Slab', serif;
}

%quote-triangle {
  @media #{$screen-md-min} {
     content: '';
     background-color: rgb(249, 249, 249);

     width: 2em;
     height: 2em;

     position: absolute;
     top: 40%;
  }
}
