/*******************************
Lifting
*******************************/

/* Content */
.lifting {
  color: $color-white;
}

/*--------------
Left-Column
---------------*/
.lifting-left-bar {
  position:relative;
  background-color: $color-mintcream;
  display: none;
  padding: 10% 0;
}

/*--------------
Right-Column
---------------*/
.lifting-right-bar {
  position:relative;

  @include image-background("/dist/img/block/lifting/backgroud.png");
  width: 100%;
  height: auto;
}
/* Text Area */
.lifting-description {
  padding: 10%;
}

/* Title */
.lifting-description-title {
  @extend %title-style;

  line-height: 1.4;
  white-space: pre-line;

  span{
    font-size: 0.9em;
  }
}

/* Subtitle */
.lifting-description-subtitle {
  @include subtitle-style($color-snow);

  font-size: .7em;
  padding-top: .5em;

  text-align: justify;
}

/* Features */
.lifting-description-features {
  padding: 1em 0;
}

.lifting-feature-item {
  @include subtitle-style;

  font-size: .7em;
  padding-bottom: 1.4em;
}

/* Left-Column Background */
.lifiting-checkmark {
  background: url("/dist/img/block/lifting/icon-checkmark.svg") no-repeat;
  height: 32px;
  width: 32px;

  display: inline-block;
  vertical-align: middle;

  text-indent: -9999px;

  padding-right: .75em;
}

.lifting-feature-item:hover .lifiting-checkmark {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.lifting-feature-item:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: transform 0.4s;
	transition-delay: 0s, 0.4s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*******************************
Media-Queries
*******************************/
@media (max-width: 768px) {
}

@media (min-width: 768px) {
  .lifting-right-bar {
  }
  .lifting-description-title {
    font-size: 1.8em;
  }
  .lifting-feature-item {
    padding-bottom: .8em;
  }
}

@media (min-width: 992px) {
  .lifting {
    display: flex;
  }

  .lifting-left-bar {
    display: block;
    flex: 1 1 30%;
  }
  .lifting-left-bar img {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 40px;
  }
  .lifting-right-bar {
    flex: 1 1 70%;
  }
  .lifting-description-title {
    font-size: 2em;
  }
  .lifting-description-subtitle {
    font-size: 1em;
  }
}
