/*******************************
           Introdution
*******************************/

/* Content */
.introdution {
	@include image-background("/img/block/title/background.png");
	max-width: 100%;
	background-size: cover;

	@extend %text-center;
	color: $color-white;

	padding: 5% 0 10% 0;
}

/* Title */
.introdution-title {
	@extend %title-style;

	white-space: pre-line;
}

/* Subtitle */
.introdution-subtitle {
	@include subtitle-style;

	font-size: .7em;
	margin-top: 2.5em;
}

/* Button */
.introdution-button {
	padding-top: 4em;
}

/*******************************
        Media-Queries
*******************************/
@media (min-width: 768px) {
	.introdution {
	}
	.introdution-title {
		font-size: 2em;
	}
	.introdution-subtitle {
		font-size: 1em;
	}
	.introdution-btn {
	}
}

@media (min-width: 992px) {
	.introdution {
	}
	.introdution-title {
		font-size: 3.2em;
		line-height: 1.2em;
	}
}
