.introdution {	
	background:   linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
	),url("/img/block/title/background.png") no-repeat;
	max-width: 100%;
	background-size: cover;
	
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.introdution-title {
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 2em;
	white-space: pre-line;
}

.introdution-subtitle {
	font-size: .7em;
	margin-top: 2.5em;
	color: rgb(204, 204, 204);
	font-family: 'Roboto Slab', serif;
}


.introdution-button {
	padding-top: 4em;
	padding-bottom: 8em;
}

@media (min-width: 768px) {
	.introdution {
	}
	.introdution-title {
		font-size: 2em;
	}
	.introdution-subtitle {
		font-size: 1em;
	}
	.introdution-btn {
	}
}

@media (min-width: 992px) {
	.introdution {
	}
	.introdution-title {
		font-size: 3.2em;
		padding-top: .9em;
		line-height: 1.2em;
	}
	.introdution-subtitle {
	}
}