/*******************************
            Service
*******************************/

/* Content */
.service {
	@extend %text-center;

	padding-top: 5%;
}

/* Title */
.service-title {
	@extend %title-style;

	font-size: 1.75em;
}

/* Subtitle */
.service-subtitle {
	@include subtitle-style($color-silver);

	margin-top: 1em;
}
/*--------------
     Items
---------------*/
.service-item {
	padding: 5% 10%;
}

.service-item-title {
	@extend %title-style;

	padding-top: 1.2em;
}

.service-item-description {
	@include subtitle-style($color-silver);

	font-size: 1em;
	line-height: 2em;
	text-align: center;
}

/*******************************
        Media-Queries
*******************************/
@media (min-width: 768px) {
	.service-title {
		font-size: 2em;
	}
}
@media (min-width: 992px) {
	.service-item {
		width: 20%;
		padding: 5% 5%;
		display: inline-block;
		vertical-align: middle;
	}
	.service-item-description {
		font-size: .7em;
	}
}
