.service {
	text-align: center;
}

.service-title {
	padding-top: 2em;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}


.service-subtitle {
	color: rgb(119, 119, 119);
	font-family: 'Roboto Slab', serif;
	margin-top: 1em;
}

.service-item {
	padding: 5% 10%;
}

.service-item-title {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1.2em;
	padding-bottom: .8em;
}

.service-item-description {
	color: rgb(119, 119, 119);
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	line-height: 2em;
	text-align: center;
}


@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.service-item {
		width: 20%;
		padding: 5% 5%;
		display: inline-block;
		vertical-align: middle;
	}
	.service-item-description {
		font-size: .7em;
	}
}